body{
  margin: 0px;
}

main{
  width:96%;
  height:92vh;
  display:flex;
  margin:0%;
  background-color:#000;
  border-style: ridge;
  border-width: 2em;
  border-color:#40369d;
  border-radius: 0%;
 
}


button {
  background: #1D2B64;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #F8CDDA, #1D2B64);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #F8CDDA, #1D2B64); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

button:hover {
  background: #1D2B64;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #F8CDDA, rgb(184, 36, 97));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #F8CDDA, rgb(182, 38, 98)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

#msg {
  z-index: 9999;
  width: 330px;
  height: 180px;
  background-color: ;
  background-image: url("images/bulle_mamy.png");
  background-repeat: no-repeat;
  background-size: 80%;
  position: fixed;
  left: 800px;
  top: 58px;
  background-blend-mode: saturation;
 
}






.center {
  width: 20%;
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background-color: #fcb045; */
  -webkit-box-shadow: 0px 0px 181px -25px rgba(235,38,71,1);
-moz-box-shadow: 0px 0px 181px -25px rgba(235,38,71,1);
box-shadow: 0px 0px 181px 5px rgb(80, 77, 243);
}
.center h1{
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: 42%;
  margin-top: 50%;
  font-family: 'Press Start 2P', cursive;
  font-size: 2em;
  color: #fd1d1d;
  letter-spacing: 0.1em;
  
    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 10s infinite;
}

@-webkit-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-moz-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-ms-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-o-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@keyframes color-change {
    0% { color: red; }
    50% { color: yellow; }
    100% { color: red; }

}
.center img {
  margin-left: 35px;
  width: 100%;
  align-items: center;
  margin-top: 55px;
  
  
}

.left{
  width:50%;
  margin-right: 5%;
  flex-direction: column;
  justify-content: space-around;
  background: 
  linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, black 25%, transparent 25%),
  linear-gradient(45deg, black 25%, transparent 25%);	
  background-size: 2em 2em;
  background-color: #3e8abd;
  
}
.left span {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.3em;
  color: #353030;
  padding-top: 20px;
}

.left p {
  font-family: 'Press Start 2P', cursive;
}

.actions{
    height: 25%;
  margin: 5vh;
  background-color: orange;
  display:flex;
  flex-wrap: wrap;
  text-align: center;
  -webkit-box-shadow: 0px 0px 347px -5px rgba(237,171,183,1);
-moz-box-shadow: 0px 0px 47px -5px rgba(237,171,183,1);
box-shadow: 0px 0px 47px -5px rgba(237,171,183,1);
}

.activated{
  background: grey;
}

.prix{
  background-color:#fac780;
  margin: 10%;
  padding: 10px;
  color: #353030;
}
.compteur{
  background-color:#dad7a6 ;
  margin: 10%;
  padding: 10px;
  color:#353030;
}


.prixMulti, .nombreMulti, .prixAutoclicker, .nombreAutoclicker, .prixBonus, .tempsRestant{
  width:50%;
  padding-top: 5%;
  
}

.right{
  text-align: center;
  margin-left: 5%;
  width: 50%;
  background: 
  linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, black 25%, transparent 25%),
  linear-gradient(45deg, black 25%, transparent 25%);	
  background-size: 2em 2em;
  background-color: #3e8abd;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.right h2{
  font-size: 2em;
  margin-bottom: 1em;
  font-family: 'Pacifico', cursive;
  color:white;
  }
  

.affichage{
  margin-bottom: 15vh;
  height:10vh;
  font-size: 5em;
  color: aquamarine;
  font-family: 'Press Start 2P', cursive;
}

.clic {
  margin-top: 5%;
  height:200px;
  width:30%px;
  background-image: url("images/cookie.svg");
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: 50% 0%;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  color:yellowgreen;
  transition: all 10s;
  transition-timing-function: cubic-bezier(1, 1.13, -4.72, 2.38);

  
  
}
.clic:hover {
  margin-top: 5%;
  height:200px;
  background-image: url("images/cookie.svg");
  background-repeat: no-repeat;
  background-size: 400px;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  transform: rotate(6080deg);
  filter: hue-rotate(300deg);
}

.clic:active {
   width: 98%;
   

   
   
    
    

}



button{
  width:100%;
  margin: 1vw;
}
