body{
  margin: 0px;
}

main{
  width:96%;
  height:92vh;
  display:flex;
  margin:0%;
  background-color:#000;
  border-style: ridge;
  border-width: 2em;
  border-color:#40369d;
  border-radius: 0%;

}


button {
  background: #1D2B64;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #F8CDDA, #1D2B64);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #F8CDDA, #1D2B64); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

button:hover {
  background: #1D2B64;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #F8CDDA, rgb(58, 9, 29));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #F8CDDA, rgb(58, 9, 29)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}




#msg {
  display: none;
  left: 793px;
  top: 77px;
  z-index: 9999;
  width: 330px;
  height: 180px;
  background-image: url("images/bulle_mamy.png");
  background-repeat: no-repeat;
  background-size: 80%;
  position: fixed;
  left: 800px;
  top: 58px;
  background-blend-mode: saturation;
  background-size: 100%;
  position: absolute;
  width: 19vw;
  height: 173px;
  text-align: center;
  }
  #msg p {
    color: red;
    margin-top: 47px;
    font-size: 0.9em;
    margin-left: 625px;
    font-family: 'Press Start 2P', cursive;
    margin-left: 97px;
  }


#msgautoclick {
  display: none;
  left: 793px;
  top: 77px;
  z-index: 9999;
  width: 330px;
  height: 180px;
  background-image: url("images/bulle_mamy.png");
  background-repeat: no-repeat;
  background-size: 80%;
  position: fixed;
  left: 800px;
  top: 58px;
  background-blend-mode: saturation;
  background-size: 100%;
  position: absolute;
  width: 19vw;
  height: 173px;
  text-align: center;
  }
  #msgautoclick p {
    color: red;
    margin-top: 47px;
    font-size: 0.9em;
    margin-left: 625px;
    font-family: 'Press Start 2P', cursive;
    margin-left: 97px;
  }


#msgbonus {
  display: none;
  left: 793px;
  top: 77px;
  z-index: 9999;
  width: 330px;
  height: 180px;
  background-image: url("images/bulle_mamy.png");
  background-repeat: no-repeat;
  background-size: 80%;
  position: fixed;
  left: 800px;
  top: 58px;
  background-blend-mode: saturation;
  background-size: 100%;
  position: absolute;
  width: 19vw;
  height: 173px;
  text-align: center;
  }
  #msgbonus p {
    color: red;
    margin-top: 47px;
    font-size: 0.9em;
    margin-left: 625px;
    font-family: 'Press Start 2P', cursive;
    margin-left: 97px;
  }








.center {
  width: 20%;
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background-color: #fcb045; */
  -webkit-box-shadow: 0px 0px 181px -25px rgba(235,38,71,1);
-moz-box-shadow: 0px 0px 181px -25px rgba(235,38,71,1);
box-shadow: 0px 0px 181px 5px rgb(80, 77, 243);
}
.center h1{
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: 42%;
  margin-top: 50%;
  font-family: 'Press Start 2P', cursive;
  font-size: 2em;
  color: #fd1d1d;
  letter-spacing: 0.1em;

    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 9s infinite;
}

@-webkit-keyframes color-change {
  0% {
    color: #202e72;
}
50% {
    color: #304d5b;
}
100% {
    color: #1e3036;
}
}
@-moz-keyframes color-change {
  0% {
    color: #202e72;
}
50% {
    color: #304d5b;
}
100% {
    color: #1e3036;
}
}
@-ms-keyframes color-change {
  0% {
    color: #202e72;
}
50% {
    color: #304d5b;
}
100% {
    color: #1e3036;
}
}
@-o-keyframes color-change {
   0% {
    color: #202e72;
}
50% {
    color: #304d5b;
}
100% {
    color: #1e3036;
}
}
@keyframes color-change {
  0% {
    color: #d65c86;
}
50% {
    color: #304d5b;
}
100% {
    color: #1e3036;
}

}
.center img {
  margin-left: 35px;
  width: 100%;
  align-items: center;
  margin-top: 55px;


}

.left{
  width:50%;
  margin-right: 5%;
  flex-direction: column;
  justify-content: space-around;
  background:
  linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, black 25%, transparent 25%),
  linear-gradient(45deg, black 25%, transparent 25%);
  background-size: 2em 2em;
  background-color: #3e8abd;

}
.left span {
  font-family: 'Press Start 2P', cursive;
  font-size: 1em;
  color: #353030;
  padding-top: 20px;
}

.left p {
  font-size: 0.7em;
  font-family: 'Press Start 2P', cursive;
}

.actions{
    height: 25%;
  margin: 5vh;
  background-color: orange;
  display:flex;
  flex-wrap: wrap;
  text-align: center;
  -webkit-box-shadow: 0px 0px 347px -5px rgba(237,171,183,1);
-moz-box-shadow: 0px 0px 47px -5px rgba(237,171,183,1);
box-shadow: 0px 0px 47px -5px rgba(237,171,183,1);
}

.activated{
  background: grey;
}

.activated:hover{
  background: grey;
}

.prix{
  background-color: #353030;
  margin: 10%;
  padding: 10px;
  color: #fac780;
}
.compteur{
  background-color:#dad7a6 ;
  margin: 10%;
  padding: 10px;
  color:#353030;
}


.prixMulti, .nombreMulti, .prixAutoclicker, .nombreAutoclicker, .prixBonus, .tempsRestant{
  width:50%;
  padding-top: 5%;

}

.right{
  text-align: center;
  margin-left: 5%;
  width: 50%;
  background:
  linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, black 25%, transparent 25%),
  linear-gradient(45deg, black 25%, transparent 25%);
  background-size: 2em 2em;
  background-color: #3e8abd;
  display: flex;
  justify-content: center;
  align-items: center;

}

.right h2{
  font-size: 2em;
  margin-bottom: 1em;
  font-family: 'Pacifico', cursive;
  color:white;
  }
  

.affichage{
  margin-bottom: 15vh;
  height:10vh;
  font-size: 4em;
  background: -webkit-linear-gradient(#d3f70c, #f30594);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Press Start 2P', cursive;
  text-shadow: #F8CDDA;
}

/* .clic {
  margin-top: 5%;
  height:200px;
  width:30%px;
  background-image: url("images/cookie.svg");
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: 50% 0%;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  color:yellowgreen;
  transition: all 10s;
  transition-timing-function: cubic-bezier(1, 1.13, -4.72, 2.38);



}
.clic:hover {
  margin-top: 5%;
  height:200px;
  background-image: url("images/cookie.svg");
  background-repeat: no-repeat;
  background-size: 400px;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  transform: rotate(6080deg);
  filter: hue-rotate(300deg);
}

.clic:active {
   width: 98%;

    } */

    #cookie {
    width: 59%;
    max-width: 100%;
    height: 227px;
    background: radial-gradient(#5f2e09, #c5AE89);
    border-radius: 100%;
    margin: 73px;
    position: relative;
    transition: all 10s;
    transition-timing-function: cubic-bezier(1, 1.13, -4.72, 2.38);
    
  } 

  #cookie:hover {
    transform: rotate(20080deg);
    filter: hue-rotate(600deg);
  
  }
  #cookie:active {
    background: radial-gradient(#c5AE89,#5f2e09,#c5AE89 );
  }
  
  #choco1 {
      top: 30px;
      left: 59px;
      width: 11%;
      max-width: 100%;
      height: 24px;
      background: #1e130c;
      background: -webkit-linear-gradient(to left, #9a8478, #1e130c);
      background: linear-gradient(to left, #957168, #1e130c);
      border-radius: 100%;
      position: absolute;
  }
  
    
    
  
  #choco2 {
    top: 89px;
    left: 83px;
    width: 11%;
    max-width: 100%;
    height: 29px;
    background: #38261C;
    background: -webkit-linear-gradient(to right, #583a36, #38261C);
    background: linear-gradient(to right, #583a36, #38261C);
    border-radius: 100%;
    position: absolute;
  }
    
  
  #choco3 {
    top: 146px;
      left: 40px;
      width: 11%;
      max-width: 100%;
      height: 29px;
      background: #38261C;
      background: -webkit-linear-gradient(to right, #583a36, #38261C);
      background: linear-gradient(to right, #885c56, #38261C);
      border-radius: 100%;
      position: absolute;
    
  }
  #choco4 {
    top: 137px;
    left: 104px;
    width: 11%;
    max-width: 100%;
    height: 27px;
    background: #38261C;
    background: -webkit-linear-gradient(to right, #583a36, #38261C);
    background: linear-gradient(to right, #583a36, #38261C);
    border-radius: 100%;
    position: absolute;
  
    
  }
  #choco5 {
    top: 71px;
    left: 181px;
    width: 8%;
    max-width: 100%;
    height: 20px;
    background: #1e130c;
    background: -webkit-linear-gradient(to left, #9a8478, #1e130c);
    background: linear-gradient(to left, #8d6960, #1e130c);
    border-radius: 100%;
    position: absolute;
    
  }
  #choco6 {
      top: 154px;
      left: 158px;
      width: 11%;
      max-width: 100%;
      height: 26px;
      background: #1e130c;
      background: -webkit-linear-gradient(to left, #9a8478, #1e130c);
      background: linear-gradient(to left, #73544d, #1e130c);
      border-radius: 100%;
      position: absolute;
    
  }
  
  
  
  







button{
  width:100%;
  margin: 1vw;
}
